<div class="main">
    <div class="title">
        <h3>Resultados</h3>
    </div>
    <div class="main-conteiner">
        <div class="conteiner">
        
                <div class="bloco">
                    <ul ngf *ngFor="let article of articles.slice(1, 6)">
                        <li>
                            <h4>{{ article.title }}</h4>
                            <p>{{ article.snippet }}</p>
                            <a href="{{ article.link }}">Leia mais</a>
                        </li>
                    </ul> 
                </div>
                <div  class="bloco"> 
                    <div class="buttom-mais"> 
                        <a href="">MAIS RESULTADOS</a>
                    </div> 
                </div>
        
        </div>  
    </div>
</div>
    

