*{
    margin: 0;
}
.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
    border-bottom: 2px solid blue;
  
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 20%; /* Ajuste conforme necessário */
    grid-template-rows: auto 400px; /* Ajuste conforme necessário */
    grid-row-gap: 10px;
    grid-column-gap: 5px;

    justify-content: center;
    width: 80%;

}

.item{
    background-color: black;
    border-radius: 5px;
    padding: 10px;
  
}
.item h4{
    background-color: blue;
    margin-bottom: 2px;
}
.item a{
    display: block;
    width: 100%;
    height: 100%;
}
.item a img{
    
    width: 100%;
    height: 100%;
}



