body{
    font-family: 'Montserrat', sans-serif;
}

.container-destinos {
    display: flex;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
    font-weight: 600;
    color: #b04eee;
  }
  
ul {
    font-family: 'Roboto', sans-serif;
}
  
li {
    list-style-type: "\2713";
    text-align: left;
    margin-bottom: 5px;
    margin-left: 25px;
}
  
  
.roteiros-viagens{
    border-radius: 10px;
    background-color: rgb(211, 176, 237);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: calc(26% - 20px);  
    border-radius: 10px;
    max-width: 350px; 
    margin: 0 auto; 
}

  .roteiros-viagens img{  
    width: 150px;
    height: 75px;
    display: block; 
     margin: 0 auto; 
    border-radius: 4px;
  }

  .roteiro-preco, .roteiro-destino{
    font-family: 'Jost', sans-serif;
  }

  .roteiro-destino, .roteiro-preco,.roteiro-obs ,.roteiro-parcelamento, .roteiro-comprar {
    text-align: center;  
  }

  .roteiro-comprar {
    background-color: #83f377;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* Exibe o botão como bloco para ajustar as margens */
    margin: 0 auto; /* Centraliza o botão */
    margin-top: 10px;
  }
  
  .roteiros-viagens img{
    width: 150px;
    height: 75px;
    display: block; 
    margin: 0 auto; 
    border-radius: 4px;
  }

  @media (min-width: 480px) {
    .roteiros-viagens {
      width: 100%; /* Um destino por linha em telas menores */
    }
  }
  
  @media (min-width: 768px) {
    .roteiros-viagens {
      width: calc(33.33% - 20px); /* 33.33% para 3 destinos lado a lado, subtraindo o gap */
    }
  }