*{
    margin: 0 auto;
    padding: 0;
}
div{
    height: 100%;
    box-sizing: border-box;
    padding: 2px;
    width: 50%;
    position: relative;
    float: right;
}
ul{
    list-style-type: none;
}
ul li{
    
    margin-bottom: 2px;
   
}
ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: white;
    box-shadow: 1px 1px 1px 0px rgba(5, 4, 4, 0.158);
    color: rgb(12, 12, 58);

}

ul li a:hover{
    opacity: 0.8;
    background-color: rgba(128, 128, 128, 0.26);
}