<div class="conteiner">
  <!-- pets.component.html -->
  <div id="msg">
    <div *ngIf="mensagem" class="mensagem">
      {{ mensagem }}
    </div>
  </div>
  
  <div>
    <button class="btn-cadastro" (click)="navigateTo('pets/criar')">Cadastar</button>
  </div>
  <div>
    <table>
      <tr>
     
        <th class="titleName">Nome</th>
        <th class="titleAction"></th>
      </tr>
      <tr *ngFor="let pet of pets" class="row-1" id="deleted">
      
        <td class="col-2">{{ pet.Nome }}</td>
        <td class="col-3" >
          <!-- Passar o id -->
          <button (click)="editarPet(pet)">Alterar</button>
          <button (click)="deletarPet(pet.Id)">Excluir</button>
        </td>
      </tr>
    </table>
  </div>
</div>

