<div class="conteiner">
  <!-- pets.component.html -->
  <div *ngIf="mensagem" class="mensagem">
    {{ mensagem }}
  </div>
  <div>
    <button class="btn-cadastro">Cadastar</button>
  </div>
  <div>
    <table>
      <tr>
        <th class="titleId">PetId</th>
        <th class="titleName">Nome</th>
        <th class="titleAction"></th>
      </tr>
      <tr *ngFor="let pet of pets">
        <td class="col-1">{{ pet.id }}</td>
        <td class="col-2">{{ pet.nome }}</td>
        <td class="col-3">
          <!-- Passar o id -->
          <button (click)="editarPet(pet.id)">Alterar</button>
          <button (click)="deletarPet(pet.id)">Excluir</button>
        </td>
      </tr>
    </table>
  </div>
</div>
