*{
    margin: 0;
    padding: 0;
}
.conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 77.66%;
    margin: 0 auto;
    column-gap: 5px;
    row-gap: 5px;
    border:  1px solid  rgba(128, 128, 128, 0.146);
    
}

/*inicio */
.navBar {
   position: relative;
   grid-column:  1/4;
   grid-row: 1;
   text-align: center;
   box-sizing: border-box;
   margin-bottom: 5px;
   box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.3); /* Sombra leve */
}
.navBar .ferramenta ul{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 10px;
    padding-left:40px;
    padding-right: 40px;
    list-style-type: none;
    
}
.navBar .ferramenta ul li a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 200;
}
.navBar img{
    width: 100%;
}
.navBar .redes{
    position: absolute;
    bottom: 0;
    left: 0;
}
.navBar .redes ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    list-style-type: none;
  
}
.navBar .redes ul li{
    
    list-style-type: none;
} 
/*fim da barra de ferramentas*/

/* Menu Lateral*/
.menu{
    grid-row: 2;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
   
}
.menu p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    color: blue;
}
.menu nav{
    width: 100%;
    background-color: white;
    
}
.menu nav ul{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 3px;
}
.menu nav ul li{
    list-style-type: none;
}

.menu nav ul li:first-child{
    border-top: solid 4px blue ;
}
.menu nav ul li a{
    box-sizing: border-box;
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
    /* background-color: yellow; */
    width: 100%;
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    transition: background-color 0.s;
    font-size: 100%;
    font-weight: 400;
}

.menu nav ul li:last-child a{
    font-weight: 600;
}
.menu nav ul li a:hover{
    color: black;
    background-color: rgba(183, 183, 184, 0.379);
}
/*Fim do Menu Lateral*/

.noticias{
    box-sizing: border-box;
    grid-column: 2/3;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
   
  
}
.destaque{
    box-sizing: border-box;
    grid-row: 2;
    grid-column: 3/4;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
   
}
.serviços{
    box-sizing: border-box;
    grid-column: 1/2;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
   
}
.resultado{
    box-sizing: border-box;
    grid-column: 2/4;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
   
}
.footer{
   
    grid-column: 1/4;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    border-top: solid yellow 5px;

}
.footer .container{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    padding: 10px;
}
.footer .container p{
    color: white;
    font-size: 13px;
    padding-bottom: 10px;
}
.footer .container p:first-child{
    font-size: 15px;
    font-weight: 600;
}
.footer .container p:last-child{
    color: gray;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        width: 100% !important;
        display: block;
        width: 100% !important;
        margin: 0 auto;
        column-gap: 5px;
        row-gap: 5px;
        border:  1px solid  rgba(128, 128, 128, 0.146);
      
    }
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 77.66%;
    margin: 0 auto;
    column-gap: 5px;
    row-gap: 5px;
    border:  1px solid  rgba(128, 128, 128, 0.146); */
    .navBar{
      /* Adicione os estilos desejados para dispositivos móveis aqui */
      top: 0;
      width: 100%;
      background-color: #333;
      color: white;
    }
    .menu{
        grid-row: 2;
        grid-column: 1/4;
    }
    .destaque{
        grid-row: 3;
        grid-column: 1/4;
    }
    .noticias{
        grid-row: 4;
        grid-column: 1/4;
    }
    .resultado{
        grid-row: 5;
        grid-column: 1/4;
    }
    .serviços{
        grid-row: 6;
        grid-column: 1/4;
    }
}