<div class="carousel">
  <input type="radio" id="slide1" name="slide" checked>
  <input type="radio" id="slide2" name="slide">
  <input type="radio" id="slide3" name="slide">
  
  <div class="slides">
    <div class="image">
      <img src="http://www.uesc.br/adm/xml/imagens/graduacaoead1.png" alt="Imagem 1">
    </div>
    <div class="image">
      <img src="http://www.uesc.br/adm/xml/imagens/uesccepedi.png" alt="Imagem 2">
    </div>
    <div class="image">
      <img src="http://www.uesc.br/adm/xml/imagens/conjuntura_economica20181.jpg" alt="Imagem 3">
    </div>
  </div>
  
  <div class="navigation">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
  </div>
</div>
