<div class="main">
    <div class="title">
      <h3>NOTÍCIAS</h3>
    </div>
    <div class="main-conteiner">
      <div class="conteiner">
        <div id="resultado" class="bloco">
          <ul>
            <li *ngFor="let article of articles.slice(4, 6)">
              <h4>{{ article.title }}</h4>
              <p>{{ article.snippet }}</p>
              <a href="{{ article.link }}">Leia mais</a>
            </li>
          </ul>
        </div>
        <div class="bloco">
          <div class="buttom-mais">
            <a href="">MAIS NOTÍCIAS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  