@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* background-color: #f8f0db; */
   
}
#logo{
    width: 300px;
    height: 300px;
    border-radius: 151px;
    
}
h1{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}
